@media screen and (min-width: 320px){
    .different{
        text-align: center;
        padding: 0 1.5rem;
    }
    .different__title{
        font-size: 30px;
        font-weight: 700;
        line-height: 3rem;
        margin: 1rem 0;
        color: var(--dark-blue);
    }
    .different__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.75rem;
        margin-top: 0;
        color: var(--dark-grayish-blue);
    }
    .pros__list{
        margin-left: 1rem;
        margin-right: 0;
    }
    .title__container{
        display: flex;
        align-items: center;
        background-color: var(--very-pale-red);
        height: auto;
        width: 100%;
    }
    .title__number{
        background-color: var(--bright-red);
        border-radius: 50px;
        padding: .5rem 1rem;
        color: #fff;
        margin: 0;
    }
    .pros__title{
        padding-left: 1rem;
        color: var(--dark-blue);
        font-size: 16px;
        margin: 0;
        font-weight: 700;
    }
    .pros__text{
        color: var(--dark-grayish-blue);
        font-size: 14px;
        line-height: 1.75rem;
    }
    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4.325rem 0 3.125rem;
    }
    .slider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15.938rem;
        margin: 6.25rem auto 2.5rem;
    }
    .card {
        position: absolute;
        top: 0;
        left: auto;
        right: auto;
        width: 90%;
        max-width: 31.25rem;
        height: 15.313rem;
        border-radius: 5px;
        text-align: center;
        background-color: var(--very-light-gray);
        flex-direction: column;
        padding-top: 3.75rem;
        animation: cardfade;
        animation-duration: 1s;
    }
    .card.active-card{
        display: flex;
    }
    
    @keyframes cardfade{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .card img{
        position: absolute;
        height: 4.375rem;
        width: 4.375rem;
        top: -2.188rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .card p{
        font-size: 0.9rem;
        padding: .9rem 1.5rem;
    }

    .dot {
        cursor: pointer;
        height: .625rem;
        width: .625rem;
        margin: 0 0.125rem 2.813rem;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid var(--bright-red);
        display: inline-block;
        opacity: 0.6;
        margin-top: 3rem;
    }

    .active, .dot:hover {
        background-color: var(--bright-red);
        opacity: 1;
    }










    .conteudo__conclusion{
        text-align: center;
        color: var(--very-pale-red);
        font-size: 25px;
        padding: 4rem 1rem;
        background: url('../images/bg-simplify-section-mobile.svg') var(--bright-red);
        background-repeat: no-repeat;
    }
    .conclusion__title br{
        display: none;
    }
    .conclusion__button{
        color: var(--bright-red);
        background-color: var(--very-pale-red);
    }
}

@media screen and (min-width: 1024px){
    .conteudo{
        background-image: url(../images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position: -30% 50%;
        background-size: 50%;
    }
    .conteudo__texts{
        display: flex;
        flex-direction: row;
        padding: 0 6rem;
    }
    .different{
        text-align: left;
        padding: 0 0;
    }
    .different__title{
        padding-right: 5rem;
    }
    .different__text{
        padding-right: 5rem;
    }
    .pros__list{
        padding-top: 2rem;
    }
    .title__container{
        background-color: inherit;
    }
    .pros__text{
        padding-left: 4rem;
    }
    .conteudo__conclusion{
        padding: 0 0;
        height: 20rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;;
    }
    .conclusion__title br{
        display: inline;
    }
    .conclusion__button:hover{
        background-color: inherit;
        border: 1px solid white;
        color: white;
        cursor: pointer;
    }
    
}